:root {
    /* Font */
--main-font: Roboto, sans-serif;
--secondary-font: Raleway, sans-serif;
    /* Colors */
--primary-brand: #4D5AE5;
--pressed-state: #404BBF;
--dark: #2E2F42;
--success: #31D0AA;
--success-75: rgba(49, 208, 170, 0,75);
--success-50: rgba(49, 208, 170, 0,50);
--success-10: rgba(49, 208, 170, 0,10);
--text: #434455;
--subtle-text: #8E8F99;
--accent: #E7E9FC;
--light: #F4F4FD;
--modal-overlay: #2E2F42;
--hero-background: #2E2F42;
--background-white: #FFFFFF;
--white-text: #FFFFFF;

/* Others */
--indent: 24px;
--items: 4;
}

body {
   background-color: var(--background-white);
   color:var(--text);
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.02em;
}
 
/* RESET START */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}

/* RESET END */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* CARD SET */
.card-set {
    display: flex;
    flex-wrap: wrap;

    gap: var(--indent);
}

.card-set-item {
    flex-basis: calc((100% - (var(--indent) * (var(--items) - 1))) / var(--items));
}
/* HEDER SECTION */

.main-header {
    border-bottom: 1px solid var(--accent);
    background-color: var(--background-white);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
    
}

.nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    height: 24px;
    margin-right: 76px;
    color: var(--dark);
    font-weight: 800;
    font-size: 18px;
    font-family: var(--secondary-font);
    line-height: 1.33;
    text-transform: uppercase;
}

.accent-logo {
    color: var(--primary-brand);
    
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-link.current::after {
    content: "";
    position: absolute;
    bottom: 0;


    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--pressed-state);
}

.menu-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--modal-overlay);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--pressed-state);
}

.menu-item .current {
    color: var(--pressed-state);
}

.mail {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
}

.mail:hover,
.mail:focus {
    color: var(--pressed-state);
}

.contact {
    display: flex;
    gap: 40px;   
}

/* HERO SECTION */

.hero {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--hero-background);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/bacimg.jpg);
    background-size: cover;
}

.main-title {
    display: block;
    /* background: var(--modal-overlay); */
    width: 494px;
    margin: auto;
    margin-bottom: 48px;
    color: var(--white-text);
    font-weight: 700;
    font-size: 56px;
    font-family: var(--main-font);
    line-height: 1.07;
    text-align: center;
}

.btn {
    display: block;
    margin: auto;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: var(--white-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--pressed-state);
    color: var(--white-text);
}

/* ABOUT SECTION */

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-list {
--items: 4;
--indent: 20px;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--light);
}

.caption {
    margin-bottom: 8px;
    color: var(--modal-overlay);
    font-weight: 500;
    font-size: 20px;
    font-family: var(--main-font);
    line-height: 1.2;
}

.text-item {
    width: 264px;
}

.text {
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
}

/* WHAT ARE WE DOING SECTION */

.our-projects {
    padding-bottom: 120px;
}
    
.heading {
    margin-bottom: 72px;
    color: var(--modal-overlay);
    font-weight: 700;
    font-size: 36px;
    font-family: var(--main-font);
    line-height: 1.11;
    text-align: center;
}

.projects-list {
    --items: 3;
    --indent: 20px;
}

/* TEAM SECTION */

.team {
    margin-bottom: 130px;
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--light);
}

.team-list {
    --items: 4;
}

.team-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--background-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-item {
    width: 264px;
}

.text-center{
    text-align: center;
}

.text-center-two {
    /* padding-bottom: 3; */
    margin-bottom: 8px;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--pressed-state);
}

.social-list-icon {
    fill: var(--light);
}

/* CUSTOMERS */

.customers {
    margin-bottom: 120px;
}

.customers-heading{
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}


.customers-list-link {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    color: var(--subtle-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.customers-list-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon {
    fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
    border: 1px solid var(--pressed-state);
    color: var(--pressed-state);
}

/* FOOTER SECTION */

.footer-container {
    display: flex;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--hero-background);
}

.text-footer {
    width: 264px;
    margin-right: 120px;
}


.accent-logo-two {
    color: var(--light);
}

.light-text {
    width: 264px;
    margin-top: 16px;
    color: var(--accent);
}

.media-footer {
    width: 208px;
    margin-right: 80px;
}

.social-text {
    margin-bottom: 16px;
    color: var(--white-text);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
}

.media-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-list-link:hover,
.media-list-link:focus {
    background-color: var(--success);
}

.media-list-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.media-list-icon {
    fill: var(--light);
}

.modal-sub-text {
    margin-bottom: 16px;
    color: var(--white-text);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-sub {
    display: flex;

}

.modal-sub-field {
    margin-right: 24px;
}

.modal-sub-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2E2F42;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-sub-input:focus {
    border-color: var(--primary-brand);
    outline: none;
}


.modal-sub-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 2;
}

.modal-sub-btn {
    display: flex;
    min-width: 165px;
    min-height: 40px;
    margin: auto;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 24px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: var(--white-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-sub-btn:hover,
.modal-sub-btn:focus {
    background-color: var(--pressed-state);
}


.modal-btn-icon {
    margin-left: 16px;
}

/* PORTFOLIO */

/* FILTERS */

.filters {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.button {
    padding: 12px 24px;
    border: 1px solid var(--accent);
    border-radius: 4px;
    background: var(--light);
    color: var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    border: var(--pressed-state);
    background-color: var(--pressed-state);
    color: var(--white-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12)
}

.portfolio-list {
    --indent: 48px 24px;
    --items: 3;
}

.portfolio-link {
    display: block;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translate(0, 0);
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 164px;
    padding-left: 32px;
    background-color: var(--primary-brand);
    color: var(--light);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0, 100%);
}


.portfolio-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--accent);
    background: var(--background-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* MODAL WINDOW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
   background-color: #404BBF;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--white-text);
}
 
.modal-text {
    display: block;
    margin-bottom: 16px;
    color: var(--modal-overlay);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    text-align: center;
}

/* MODAL FORM */

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-input-desc {
    display: block;
    margin-bottom: 4px;
    color: var(--subtle-text);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: var(--primary-brand);
    outline: none;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    display: block;
    width: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0, -50%);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--primary-brand);
}

.modal-form-message {
    width: 100%;
    height: 120px;
    margin-bottom: 8px;
    padding: 8px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    border-color: var(--primary-brand);
    outline: none;
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    color: #757575;
    font-weight: 400;
    font-size: 12px;
    font-family: var(--main-font);
    line-height: 1.3;
}

.modal-form-check-desc::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;  
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-form-check:checked + .modal-form-check-desc::before {
    border: 1.25px solid var(--pressed-state);
    background-color: var(--pressed-state);
    background-image: url(../images/checkbox.png);
    background-position: 2px;
    background-repeat: no-repeat;
}

.policy-href {
    color: var(--primary-brand);
    text-decoration-line: underline;
}

.modal-form-submit {
    min-width: 169px;
    min-height: 56px;
    margin: auto;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-brand);
    color: var(--white-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--pressed-state);
}